.tableContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableTitleWhite {
  font-size: 25px;
  margin: 20px;
  line-height: 1.125;
}

.tableTitleDark {
  color: var(--gray);
  font-size: 25px;
  margin: 20px;
  line-height: 1.125;
}

.controlsContainer {
  display: flex;
  justify-content: center;

  margin-top: 15px;
  margin-bottom: 30px;
}

.controlsGrids1 {
  display: flex;
  justify-content: space-around;
}

.controlsGrids2 {
  display: flex;
  justify-content: center;

}

.tablePaper {
  width: 100%;
  height: 100%;

}

.paginationWhite {
  width: 100%;
  color: var(--dark);
  border-bottom-left-radius: 10px;
}

.paginationDark {
  background-color: #B2B2B2;
  width: 100%;
  color: var(--dark);
  margin-top: -3px;
}

.iconDownloadContainer {
  display: flex;
  justify-content: flex-end;
}

.iconDownload {
  color: var(--green)
}

.noDataContainer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.noDataMessage {
  color: red;
  font-size: large;
}

.dialogColor {
  background-color: #272822ff
}

.dialogTitle {
  background-color: #272822ff;
  color: var(--gray)
}
