.topBarUpper {
  height: 3vh;
  background-color: var(--green);
}

.topBarBottom {
  height: 8vh;
   background-color: var(--dark);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.title {
  color: var(--gray);
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
  letter-spacing: 0.3ex;
}

.subtitle{
  color: var(--gray);
  margin-right: 10px;
}

.mainContainer {
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titleFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.titleForm {
  font-size: 25px;
  margin: 20px;
}

